<article class="text--justified">
  <header><h2>Books</h2></header>

  <table *ngIf="books">
    <thead>
      <tr>
        <th>Name</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books.books">
        <td>{{book.title}}</td>
        <td>
          <a [routerLink]="['/books', book.id]">View</a>
        </td>
        <td>
          <a [routerLink]="['/books', book.id, 'edit']">Edit</a>
        </td>
        <td>
          <button (click)="onDelete(book)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</article>
