<article *ngIf="book">
  <header><h2>{{book.title}}</h2></header>

  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="row mb-2">
          <div class="col-6">
            Owner
          </div>
          <div class="col-6">
            <span>{{book.owner.id}}</span>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-6">
            number_of_pages
          </div>
          <div class="col-6">
            <span>{{book.number_of_pages}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
